        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="/veronica">
                            <img src="/images/Home.svg" alt="radio veronica">Home
                        </a>
                    </li>
                    <li>
                        <a href="/veronica">
                            <img src="/images/Home.svg" alt="radio veronica">Veronica
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/images/Home.svg" alt="radio slam">Slam
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/images/Home.svg" alt="radio 100% nl">100% NL
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>