        <footer>
            <nav class="mainfooter">
                <ul>
                    <li>
                        <a href="/veronica">
                            <img src="/images/Home.svg" alt="radio veronica">Home
                        </a>
                    </li>
                    <li>
                        <a href="/veronica">
                            <img src="/images/Home.svg" alt="radio veronica">Veronica
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/images/Home.svg" alt="radio slam">Slam
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/images/Home.svg" alt="radio 100% nl">100% NL
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="bigscreenfooter">
                <img src="/images/veronica-logo.svg" alt="logo radio veronica">
                <div class="media">
                    <h2>we love music</h2>
                    <p>volg ons op social media</p>
                    <a href="#"><img src="/images/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="/images/twitter.svg" alt="twitter of x"></a>
                    <a href="#"><img src="/images/youtube.svg" alt="youtube"></a>
                    <a href="#"><img src="/images/instagram.svg" alt="instagram"></a>
                </div>
            </nav>
        </footer>
    </body>
</html>