<header class="veronica-header">
    <img src="/images/veronica-logo.svg" alt="veronica logo">
    <section class="footer-becomes-header">
    <nav>
        <ul>
            <li>
                <a href="/veronica">Home</a>
            </li>
            <li>
                <a href="/veronica">Veronica</a>
            </li>
            <li>
                <a href="/slam">Slam</a>
            </li>
            <li>
                <a href="/100nl">100% NL</a>
            </li>
        </ul>
    </nav>
</section>
</header>

<section class="hoofd-nav">
    <nav>
        <ul>
            <li><a href="/veronica">progammering</a></li>
            <li><a href="/veronica/dj">DJ's</a></li>
            <li><a href="/veronica/playlist">playlist</a></li>
            <li><a href="/veronica/frequenties">frequenties</a></li>
            <li><a href="/veronica/likes">likes</a></li>
        </ul>
    </nav>
</section>

<section class="datum-nav">
    <nav>
        <ul>
            <li>
                <button>
                    ma 18
                </button>
            </li>
            <li>
                <button>
                    di 19
                </button>
            </li>
            <li>
                <button>
                    woe 20
                </button>
            </li>
            <li>
                <button>
                    do 21
                </button>
            </li>
            <li>
                <button>
                    vrij 22
                </button>
            </li>
            <li>
                <button>
                    za 23
                </button>
            </li>
            <li>
                <button>
                    zo 24
                </button>
            </li>
        </ul>
    </nav>
</section>
