{% render 'partials/head.liquid' %}

<header class="header-notfound">
    <img src="logo-mediahuis.png" alt="logo mediahuis">
</header>

<section class="notfound">
    <h1>Excuus voor het ongemakt, Deze pagina werkt niet!</h1>
    <a href="/veronica">Home</a>
</section>
